<h3>Create a new song:</h3>

<form action="/songs/new" method="POST">

<input type="text" name="Name" placeholder="New Song:"><br>

<label>Choose the song's artist:</label><br>
    <% Artist.all.each do |i| %>
      <input type="checkbox" name="artists[]" value="<%= i.name %>">
    <% end %><br>
<label>and/or, create a new artist:</label>
  <input type="text" name="aritst[name]" placeholder="Song's Artist:"><br>

<label>Choose existing genre(s):</label>
  <br></br>
  <% Genre.all.each do |ii| %>
    <input type="checkbox" name="genres[]" id="<%= ii.name %> value="<%= ii.name %>"><br>
  <% end %>

  <br></br>

  <label>and/or, create a new genre:</label>
  <br></br>
  <label>name:</label>
    <input type="text" name="genre_name">
  <br></br>

  <input type="submit" name="" value="Create">

</form>
